/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Anta&family=MedievalSharp&family=Poppins:wght@300;400;500&family=Special+Elite&family=Spectral+SC:wght@300;400;500;600&family=Spinnaker&display=swap");

@font-face {
  font-family: "Alien League";
  src: url("./fonts/alien_league/alienleaguebold.ttf") format("truetype");
}

@font-face {
  font-family: "SF Mono";
  src: url("./fonts/sf-mono-font/SF-Mono-Regular.ttf") format("truetype");
}

/* Spinnaker */
.spinnaker-regular {
  font-family: "Spinnaker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Spectral SC */
.spectral-sc-light {
  font-family: "Spectral SC", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-sc-regular {
  font-family: "Spectral SC", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-sc-medium {
  font-family: "Spectral SC", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-sc-semibold {
  font-family: "Spectral SC", serif;
  font-weight: 600;
  font-style: normal;
}

/* Poppins */
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* Special Elite */
.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Medieval Sharp */
.medieval-sharp-regular {
  font-family: "MedievalSharp", system-ui;
  font-weight: 400;
  font-style: normal;
}

/* Anta */
.anta-regular {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* BASE STYLES */
html {
  font-size: 100%;
}
h1 {
  font-size: 2.074em;
}
h2 {
  font-size: 1.728em;
}
h3 {
  font-size: 1.44em;
}
h4 {
  font-size: 1.2em;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: white;
}

h1 {
  font-family: "Alien League";
  color: #22FB00;
  font-weight: 300;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
}

h2 {
  font-family: "Spectral SC", serif;
  font-size: 1rem;
  color: #04FDFF;
}

p {
  font-family: "Spinnaker", sans-serif;
  margin-bottom: 1rem;
}

a {
  font-family: "Poppins", sans-serif;
  color: #f8fb04;
  text-decoration: none;
  font-weight: 500;
  font-style: normal;
}

.shared-wrapping {
  max-width: 900px;
  margin: 0 auto;
}

.shared-title {
  margin-bottom: 1.5rem;
  position: relative;
}

.shared-content {
  margin-bottom: 1rem;
}

.shared-padding {
  padding: 0.5rem;
}

.shared-margin-bottom {
  margin-bottom: 1rem;
}

.page-nav {
  font-family: "MedievalSharp", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  color: #fff;
}

.blog-post-nav-section {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}

.in-page-nav {
  font-family: "Anta", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
}

.inherit-style {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  color: inherit;
}

.page-fade-in-transition {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
